NODE_ENV=production
CORS_ORIGIN=http://localhost:5173,https://aarez-mgnmt.vercel.app
JWT_SECRET=HRbHkjqX9Dzx1dyhBLojrhG8ICnhyvEohTS1opRW7kA=
DATABASE_URL=postgresql://neondb_owner:npg_YGQ3yDSLz2pb@ep-autumn-sound-adzgou4y-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
MIGRATE_ON_START=true